db.sqlite3
doolay/__pycache__/
/.venv/
/.idea/
**/__pycache__/
saude/__pycache__
usuarios/__pycache__
setores/__pycache__
saude/__pycache__/__init__.cpython-39.pyc
saude/__pycache__/__init__.cpython-39.pyc
saude/__pycache__/admin.cpython-39.pyc
